body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Para que los elementos empiecen desde la parte superior */
    align-items: flex-end; /* Para alinear los elementos a la derecha */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: right; /* Alinea el texto a la derecha */
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

p {
    margin: 0.2em 0;
}
