body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

p {
    margin: 0.2em 0;
}
